aside.main-sidebar
	section.sidebar
		.user-panel
			.pull-left.image
				img(src='/adminlte/dist/img/user.png',alt='User Image').img-circle
			.pull-left.info
				p Nadya Adima 
				a(href='#')
					i.fa.fa-circle.text-success 
					| Online
		
		ul.sidebar-menu
			li.header
				| Dashboard
			li.treeview
				a(href='#')
					i.fa.fa-dashboard
					span
						| Data Kereta
					
					
					
				